{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid ">
        <div class="row my-2">
            <div class="col">
                <h2 >{{blog_title}}</h2>
            </div>
            <div class="col-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search..." aria-label="Search">
                    <button class="btn btn-outline-light btn-primary " type="button" id="button-search">
                      <i class="bi bi-search"></i> <!-- Bootstrap Icons -->
                    </button>
                  </div>
            </div>
        </div>
     <div class="row m-3">
        {% if posts %}
        {% for post in posts %}
            <div class="col-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="https://via.placeholder.com/300" class="img-fluid" alt="...">
                            </div>
                            <div class="col-md-8">
                                <h5 class="card-title">{{post.title}}</h5>
                                <p class="card-text">{{post.content}}</p>
                                <div class="d-flex justify-content-between">
                                     <a href="{% url 'blog:Details' post_id=post.id %}">Read More</a>
                                    <a class="text-decoration-none text-dark fw-bold" href="#">Sports</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>No posts found 😊.</p>
        {% endif %}
    </div>
    {% endblock %}